<div class="bar bar-header bar-calm">
  <h1 class="title">MeetMe</h1>
</div>

<div class="bar bar-subheader" id="sub-notification">
  <div class="inviter"></div>
  <div class="invite-time">Invitation ends in 60 seconds.</div>
  <br/><button class="button button-calm invite-button" id="sub-no">No, thanks.</button>
  <button class="button button-calm invite-button" id="sub-yes">Let's meet up!</button>
</div>

<div class="bar" id="invitation-notification">
  <div class="padding" id="inv-lightbox">
    <div class="inviter"></div>
    <div class="invite-time">This invitation expires in: 60 seconds.</div>
    <br/><button class="button button-calm invite-button" id="inv-yes">See Profile</button>
    <br/><button class="button button-calm invite-button" id="inv-no">Decline Invitation</button>
  </div>
</div>

<div ui-view></div>