<ion-view>
	<ion-content class="has-header has-footer">
		<div class="extended-all" ng-show="pageExtended"></div>
		<ion-list ng-repeat="matchedUser in matchedUsers">
			<a class="item item-thumbnail-left" href="#/app/logged-in/user-tab/user-detail/{{matchedUser.objectId}}?currentUserId={{currentUser.objectId}}">
				<img src="http://graph.facebook.com/{{matchedUser.facebookId}}/picture?width=270&height=270"/>
				<h2>{{matchedUser.facebookName}}</h2>
				<p>Available for {{matchedUser.activePost.duration}} mins</p>
				<p>Interested in {{matchedUser.activePost.description}}</p>
			</a>
		</ion-list>
		<div>
			<button ng-click="setUnavailable()">Unavailable</button>
		</div>
	</ion-content>
</ion-view>