<ion-view>
	<ion-content class="has-header has-footer container available-users">
		<div class="extended-all" ng-show="pageExtended"></div>

		<h1 class="title">Available Users</h1>

		<ion-list ng-repeat="matchedUser in matchedUsers">
			<a class="user-card" href="#/app/logged-in/user-tab/user-detail/{{matchedUser.objectId}}">
				<div class="card-left">
					<img class="profile-picture" src="http://graph.facebook.com/{{matchedUser.facebookId}}/picture?width=270&height=270"/>
				</div>
				<div class="card-right">
					<h2>{{matchedUser.facebookName}}</h2>
					<div class="wants-to">Interested in {{matchedUser.activePost.description}}</div>
					<div class="details">
						<div class="distance">
							<i class="icon ion-android-pin"></i> {{matchedUser.searchDistance}} mi
						</div>
						<div class="time-available">
							<i class="icon ion-android-stopwatch"></i> {{matchedUser.minutesLeftAvailable}}
						</div>
					</div>
				</div>

			</a>
		</ion-list>
	</ion-content>

	<button class="fixed-circle" ng-click="setUnavailable()">
		<i class="icon ion-close"></i>
	</button>
</ion-view>