<!-- <view title="logged-in">
	<content has-header="true">
		<table>
			<tr>
				<td>Facebook Name:</td>
				<td>{{fbName}}</td>
			</tr>
			<tr>
				<td>Nickname:</td>
				<td><input id="nickName" ng-model="nickName" ng-change="updateNickname()"></td>
			</tr>
		</table>

		<button ng-click="logout()">Logout</button>
	</content>
</view> -->

<div class="bar" id="invitation-notification">
  <div class="padding" id="inv-lightbox">
    <div class="inviter"></div>
    <div class="invite-time">This invitation expires in: 60 seconds.</div>
    <br/><button class="button button-calm invite-button" id="inv-yes" ng-click="viewProfile()">See Profile</button>
    <br/><button class="button button-calm invite-button" id="inv-no" ng-click="declineInvitation()">Decline Invitation</button>
  </div>
</div>

<div ui-view>
</div>

<div class="tabs-striped tabs-color-calm">
	<div class="tabs">
		<a class="tab-item active" href="#/app/logged-in/search-tab/unavailable">
			<i class="icon ion-search"></i>
			Search
		</a>
		<a class="tab-item" href="#/app/logged-in/chat-tab/chats-list">
			<i class="icon ion-chatbubbles"></i>
			Chat
		</a>
		<a class="tab-item" href="#/app/logged-in/user-tab/user-detail/{{currentUser.objectId}}?currentUserId={{currentUser.objectId}}">
			<i class="icon ion-person"></i>
			Profile
		</a>
	</div>
</div>