<ion-view title="logged-out">
	<ion-content class="has-header padding">

		<div style="height:125px"></div>

		<h2 class="text-center" style="line-height:1.5">Meet Up with People, Right Now!</h2>
		
		<div style="height:25px"></div>

		<h5 class="text-center" style="line-height:1.4;margin-right:20px;margin-left:20px">Meet Me lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua! </h2>
		
		<div style="height:25px"></div>

		<div style="text-align:center">
			<button class="button" ng-click="doLogin()">Login with Facebook</button>
		</div>
	</ion-content>
</ion-view>