<ion-view title="logged-out">
<!-- <ion-content class="has-header"> -->
<div class="overlay" id="login-overlay" onClick="hideLogin()"></div>

<div class="container fb-login-outer">
	<div class="fb-login-inner">

		<!-- <h1>
			Getting Started
		</h1> -->

		<h2>
			have a break? meet someone new over a cup of coffee! quiikmeet fills gaps in your schedule with social interaction. meet someone new today.
		</h2>

		<button class="btn white" onClick="showLogin()">get started</button>
	</div>
	<div id="fb-login-instructions">
		<h1>
			authenticate with facebook
		</h1>

		<p>
			We need to pull your name and interests from Facebook. We promise we won&rsquo;t post anything!
		</p>

		<button class="btn white" ng-click="doLogin()">continue with Facebook</button>

	</div>
</div>

</ion-content>
</ion-view>