<ion-view title="unavailable-search">

<div id="warning-popup-notification"></div>

<div class="post-button edit-post-title">I'm available now!</div>

<button class="post-button edit-post-button time-container" ng-click="editPostTime()">
	<i class="ion-android-time"></i>
	<br/>
	<span>until when?</span>
</button>
<button class="post-button edit-post-button activity-container" ng-click="editPostActivity()">
	<i class="ion-compose"></i>
	<br/>
	<span>to do what?</span>
</button>
<button class="post-button find-button" ng-click="showNewPost()">
	<i class="ion-arrow-right-c"></i>
	<br/>
	find available people
</button>

</ion-view>