<ion-view class="profile-container" title="user-profile">
	<div class="ii-background right"></div>

	<div class="bar bar-subheader bar-dark saved-notifcation" id="saved-notification">Profile changes saved!</div>

	<div class="" id="option-notification" ng-hide="pageExtended || editable">

		<!-- Add class of "disabled" when "invitation sent" -->
		<button class="btn fixed" ng-click="sendInvitation(displayUser)" ng-disabled="!inviteEnabled">
			{{inviteButtonText}}
		</button>
	</div>

	<ion-content class="has-footer has-header container" id="ion-user-profile">
		<div class="extended-inv" ng-show="pageExtended"></div>
		<!-- <div class="extended-opt"></div> -->
		<ion-list>
				<ion-item class="profile-header" id="profile-header">
					<div class="profile-picture">
						<img src="http://graph.facebook.com/{{displayUser.facebookId}}/picture?width=300&height=300"/>
					</div>

					<div class="user-info">
						<h1>{{displayUser.facebookName}}</h1>
						<ion-item class="distance" id="distanceFrom" ng-hide="editable">
							<i class="icon ion-android-pin"></i>
							<span id="distance"></span>
							<span class="mi">&nbsp;mi</span>
						</ion-item>
						<ion-item class="age">
							<input id="age" class="editable-field" ng-model="displayUser.userAge" type="number" ng-hide="!editable">
							<span ng-hide="editable">{{displayUser.userAge}}</span>
							<span class="years-old">&nbsp;years old</span>
						</ion-item>
					</div>
				</ion-item>
				<ion-item class="nickname">
					<div class="label">Nickname</div>
					<input id="nickName" class="editable-field nickname-text" ng-model="displayUser.nickName" ng-hide="!editable">
					<span class="nickname-text" ng-hide="editable">{{displayUser.nickName}}</span>
				</ion-item>


				<ion-item class="about">
					<div class="label">About Me</div>

					<div class="about-bubble">
						<textarea id="description" class="editable-field about-text" ng-model="displayUser.userDescription" ng-hide="!editable"></textarea>
						<div class="about-text-no-edit" ng-hide="editable">{{displayUser.userDescription}}</div>
					</div>

				</ion-item>
			</ion-list>

	</ion-content>

	<div id="editButton" ng-hide="!editable">
		<button class="btn fixed circle" ng-click="saveProfile()">
			<i class="icon ion-checkmark"></i>
			<!-- save -->
		</button>
		<!-- <button class="fixed-btn" ng-click="logout()">Logout</button> -->
	</div>

</ion-view>