<ion-view title="user-profile">
  <ion-content  class="has-header has-footer">
    <ion-list>
      <ion-item>
        Name: {{user.facebookName}}
      </ion-item>
      <ion-item>
        Nickname: <input id="nickName" ng-model="user.nickName">
      </ion-item>
      <ion-item>
        Location: <div id="mapholder" ng-model="user.userLocation" style="height:300px"></div>
      </ion-item>
      <ion-item>
        Age: <input id="age" ng-model="user.userAge" type="number">
      </ion-item>
      <ion-item>
        Description: <textarea id="description" ng-model="user.userDescription" cols="40" rows="5"></textarea>
      </ion-item>
      <!-- <ion-item>
        <ion-toggle ng-model="user.isAvailable" toggle-class="toggle-calm" ng-change="toggleAvailable()">Availability:</ion-toggle>
      </ion-item> -->
      <ion-item id="editButton" style="display:none">
        <button class="button button-calm" ng-click="saveProfile()">Save</button>
        <!-- <button class="button button-calm" ng-click="logout()">Logout</button> -->
      </ion-item>
  </ion-content>
</ion-view>