<ion-view title="user-profile">

  <div class="bar bar-subheader bar-dark" id="saved-notification">Profile changes saved!</div>

  <div class="bar bar-subheader" id="option-notification" ng-hide="pageExtended">
    <button class="button button-balanced invite-button" ng-click="sendInvitation(displayUser)" ng-disabled="!inviteEnabled">{{inviteButtonText}}</button>
  </div>

  <ion-content  class="has-footer" id="ion-user-profile">
    <div class="extended-inv" ng-show="pageExtended"></div>
    <div class="extended-opt"></div>
    <ion-list>
      <ion-item class="text-center">
        <img src="http://graph.facebook.com/{{displayUser.facebookId}}/picture?width=300&height=300"/>
      </ion-item>
      <ion-item>
        <h1>{{displayUser.facebookName}}</h1>
      </ion-item>
      <ion-item>
        Nickname: <input id="nickName" ng-model="displayUser.nickName">
      </ion-item>
      <ion-item id="distanceFrom">
        Currently <span id="distance"></span> mi. from you
      </ion-item>
      <ion-item>
        Age: <input id="age" ng-model="displayUser.userAge" type="number">
      </ion-item>
      <ion-item>
        Description: <textarea id="description" ng-model="displayUser.userDescription" cols="40" rows="5"></textarea>
      </ion-item>
      <ion-item id="editButton" style="display:none">
        <button class="button button-balanced" ng-click="saveProfile()">Save</button>
        <!-- <button class="button button-calm" ng-click="logout()">Logout</button> -->
      </ion-item>
  </ion-content>
</ion-view>