.onboarding-container {
	padding: 0;
	height: 100%;
	width: 100%;
	background: $primary-color;
	color: $white;
	.slider {
		height: 100%;
	}
	.onboarding-slide {
		padding: 75px 30px 100px 30px;
		width: 100%;
		height: 100%;
	}
	p {
		color: $white;
	}
	.title {
		color: $white;
		font-size: $fs-big;
		margin-bottom: 40px;
	}
	.subtitle {
		font-size: $fs-h2;
	}
	.label {
		font-size: $fs-body;
		color: $white;
		margin: 40px 0 5px 0;
	}
	.profile-picture {
		text-align: center;
		img {
			border-radius: 50%;
			width: 50%;
			border: 5px solid $white;
			@include box-shadow-1();
		}
	}
	.name-of-user {
		font-size: $fs-h2;
		text-align: center;
		font-weight: $bold;
		color: $white;
	}
	.onboarding-select {
		@include display(flex);
		@include align-items(center);
		font-size: $fs-h2;
		border: none;
		padding: 5px 10px;
		width: 100%;
		border-radius: 5px;
		//background: none;
	}
	.onboarding-input {
		@include display(flex);
		@include align-items(center);
		font-size: $fs-h2;
		border: none;
		border-radius: 5px;
		padding: 5px 10px;
		width: 100%;
		margin: 0;
		&[value] {
			@include display(flex);
		@include align-items(center);
		}
	}
	.user-and-nickname {
		.title {
			text-align: center;
		}
	}
	.profile-fill-in {
		margin-top: 40px;
		font-size: $fs-h1;
		padding-left: 10px;
		border-left: 3px solid $white;
		.natural-language-input {
			overflow: hidden;
			input {
				border: none;
				border-bottom: 1px solid $white;
				background: none;
				color: $white;
				width: auto;
				font-size: $fs-h1;
				margin: 0;
				//overflow: hidden;
			}
		}
	}
	.bottom-bar {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(flex-end);
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 30px;
		height: 100px;
		.btn {
			padding: 8px 15px;
			font-weight: $bold;
			@include box-shadow-1();
			&.secondary {
			}
		}
	}
}