.post-button{
  height:$post-button-height;
  width: 100%;
  border: none;
  display: block;
  font-size: 18px;
  background-color:$gray;

}
.edit-post-title {
  align-items: center;
  background-color: $primary-color;
  color: #FFF;
  display: flex;
  justify-content: center;
  margin-top: $bar-height;
}
.edit-post-button {

}
.find-button {
  background-color: $blue;
  color: #FFF;
}
.clickable-category {
  border: 2px solid;
  display: inline-block;
  font-size: 30px;
  margin: 0 3px 10px 3px;
  padding: 4px;
  text-align: center;
  height: 40px;
  width: 40px;
}
.chosen-category {
  background-color: #333;
  color: #FFF;
}
.completed-container {
  background-color: #87bfde;
  color: #FFF;
}   