.post-button{
  height: $post-button-height;
  width: 100%;
  border: none;
  display: block;
  font-size: 18px;
  color: $blue;
  background: $white;
  font-weight:700;
  @include box-sizing(border-box);

  i {
    font-size:$fs-h1;
  }

}
.edit-post-title {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  background-color: $primary-color;
  color: $white;
  font-weight: 500;
  margin-top: $bar-height;
  border: none;
}

.clickable-category {
  border: 2px solid;
  display: inline-block;
  font-size: 30px;
  margin: 0 3px 10px 3px;
  padding: 4px;
  text-align: center;
  height: 40px;
  width: 40px;
}
.chosen-category {
  background-color: #333;
  color: $white;
}
.completed-container {
  background-color: #87bfde;
  color: $white;
  font-weight: 500;
}  
.cool-icon{
  fill: #FF0;
}