$top-bar-height: 50px;

// Colors
$red: #d75346;
$blue: #3794c8;
$green: #37c88f;
$white: #fff;
$balanced: #37c88f;

$light-gray: #f4f4f4;
$gray: #ccc;
$dark-gray: #4f4f4f;

$text-color: $dark-gray;
$text-secondary: $gray;

// Font Sizes
$fs-h1: 36px;
$fs-h2: 24px;
$fs-body: 16px;


// Spacing

