$top-bar-height: 50px;

// Colors
$red: #d75346;
$blue: #3794c8;
$green: #37c88f;
$balanced: #37c88f;

$primary-color: $green;

$white: #fff;
$lighter-gray: #f4f4f4;
$light-gray: #e8e8e8;
$gray: #ccc;
$dark-gray: #4f4f4f;

$text-color: $dark-gray;
$text-secondary: $gray;

// Font Sizes
$fs-h1: 24px;
$fs-h2: 22px;
$fs-body: 18px;


// Spacing
$padding: 30px;
