// Place custom sass here
.top-bar {
  background: $green;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: $top-bar-height;
  //@include display(flex);
  //@include justify-content(center);
  //@include align-items(center);
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    color: #fff;
    font-size: 24px;
    margin: 0;
    //@include display(flex);
    //@include justify-content(center);
    //@include align-items(center);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



#chat-info {
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  height: 44px;
  padding: 10px;
  z-index: 9999;
}
#chat-output {
  margin: 44px 1rem 100px 1rem;
  overflow: auto;
  padding: .5rem .5rem 0 .5rem;
}
.chat-self {
  clear: both;
  display: inline-block;
  float: right;
  max-width: 70%;
  position: relative;
  img {
    display: none;
  }
  .chat-text {
    background-color: $green;
    border-radius: 15px 15px 0 15px;
    color: #FFF;
    display: inline-block;
    padding: 10px 15px;
    text-align: right;
  }
  .triangle-left {
    display: none;
  }
  .triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent $green;
    position: absolute;
    bottom: 10px;
    right: -8px;
  }
}

.chat-partner {
  clear: both;
  display: inline-block;
  float: left;
  img {
    border-radius: 100%;
    display: inline-block;
    max-width: 50px;
    position: relative;
    top: 14px;
  }
  .chat-text {
    background-color: #DDD;
    border-radius: 15px 15px 15px 0;
    color: #333;
    display: inline-block;
    max-width: 70%;
    padding: 10px 15px;
    text-align: left;
  }
  .triangle-left {
    display: none;
  }
  .triangle-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDD transparent;
    position: relative;
    top: 15px;
  }
}

.editable-field {
  background-color: #EEE;
  border: none;
}
.empty-chat {
  color: #666;
  font-style: italic;
  text-align: center;
}
.extended-inv {
  height: 36px;
}
.extended-opt {
  height: 65px;
}
.extended-all {
  height: 101px;
}
#saved-notification {
  font-weight: bold;
  display: none;
  padding-top: 10px;
  text-align: center;
}
#warning-popup-notification {
  background-color: #EF473A;
  border-radius: 5px;
  color: #FFF;
  display: none;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 50px;
  left: 0;
  right: 0;
}
#sub-no,
#sub-yes,
#inv-no,
#inv-yes {
  margin: 10px;
}
.invite-button {
  margin-top: 10px;
}
.inviter {
  color: #666;
}
.invite-time {
  color: #333;
}
#option-notification {
  height: 66px;
  text-align: center;
}
#invite-reminder {
  display: none;
  height: 102px;
  text-align: center;
}
#invite-reminder .title {
  color: #666;
  height: 122px;
}
.edit-post-title {
  align-items: center;
  background-color: #3794c8;
  color: #FFF;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 50px;
  height: 20%;
  width: 100%;
}
.edit-post-button {
  border: none;
  display: block;
  font-size: 18px;
  height: 20%;
  width: 100%;
}
.find-button {
  background-color: #d76646;
  border: none;
  color: #FFF;
  display: block;
  font-size: 18px;
  height: 20%;
  width: 100%;
}
.clickable-category {
  border: 2px solid;
  display: inline-block;
  font-size: 30px;
  margin: 0 3px 10px 3px;
  padding: 4px;
  text-align: center;
  height: 40px;
  width: 40px;
}