&.tutorial-and-login {
	@include display(flex);
	@include justify-content(center);
	@include flex-direction(column);
	@include flex-grow(1);
	height: 100vh;
	background: $primary-color;
	z-index: 2;
	.subtitle {
		margin-top: 40px;
	}
	h1 {
		font-weight: $bold;
		color: $white;
	}
	h2 {
		color: $white;
	}
	.what-is-quiikmeet {
		// @include display(flex);
		// @include justify-content(center);
		// @include flex-direction(column);
		// height: 100vh;
		p {
			font-style: italic;
			font-size: $fs-h2;
		}
	}
	#fb-login-instructions {
		background: $white;
		height: 300px;
		bottom: 0;
		left: 0;
		@include transform(translateY(100%));
		position: absolute;
		z-index: 5;
		padding: $padding;
		h1, h2, p {
			color: $text-color;
		}
		&.open {
			@include transform(translateY(0%));
		}
		.btn{
			border-top: 1px solid $light-gray;
			box-shadow: none;
		}
	}
	.btn {
		width: 100%;
		font-weight: $bold;
		background: #FFF;
		left: 0;
		bottom: 0;
		height: 50px;
		color: $text-color;
		border-radius: 0;
		position: absolute;
		box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
		&:active {
			background: $white;
			color: $primary-color;
		}
	}
	.slider {
		.slider-pager {
			bottom: 50px;
		}
	}
	.step {
		margin-top: 40px;
		.screenshot {
			width: 100%;
			@include box-shadow-1();
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.8);
		z-index: 4;
		opacity: 0;
		pointer-events: none;

		&.open{
			opacity: 1;
			pointer-events: all;
		}
	}
}
