.fb-login-outer {
	@include display(flex);
	@include justify-content(center);
	@include flex-direction(column);
	@include flex-grow(1);
	height: 100vh;
	background: $primary-color;
	.fb-login-inner {

	}
	#fb-login-instructions{
		background: $white;
		height: 300px;
		bottom: -300px;
		left: 0;
		position: absolute;
		padding: $padding;
		h1, h2{
			color:$text-color;
		}

		&.open{
			bottom:0;
		}
		.btn{
			border-top: 1px solid $light-gray;
		}


	}
	h1 {
		font-weight: $bold;
		color: $white;
	}
	h2 {
		color: $white;
	}
	.btn {
		width: 100%;
		font-weight: $bold;
		background: #FFF;
		left: 0;
		bottom: 0;
		height: 50px;
		color: $text-color;
		border-radius: 0;
		position: absolute;
		&:active {
			background: $white;
			color: $primary-color;
		}
	}
}
.overlay{
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	pointer-events: none;

	&.open{
		opacity:1;
		pointer-events: all;
	}

}