.available-users {
	.title {
		font-weight: 700;
		margin-bottom: 25px;
	}

	.user-card {
		@include display(flex);
		@include flex-direction(row);
		background: $lighter-gray;
		border-radius: 3px;
		box-shadow: 0 2px rgba(0,0,0,0.1);
		margin-bottom: 5px;
		padding: 15px;
		&:active {
			background: $light-gray;
		}
		.card-left, .card-right {
			@include display(flex);
			@include flex-direction(column);
		}
		.card-left {
			@include flex-shrink(0);
			@include justify-content(center);
			margin-right: 15px;
			.profile-picture {
				border-radius: 50%;
				width: 60px;
				height: 60px;
			}
		}
		.card-right {
			h2 {
				font-weight: 700;
				font-size: $fs-body;
				margin: 0;
			}
			.wants-to {
				margin-bottom: 10px;
			}
			.details {
				@include display(flex);
				@include flex-direction(row);
				.distance {
					margin-right: 10px;
				}
				.time-available {

				}
			}
		}
	}
}

