.available-users {
	.title {
		margin-bottom: 25px;
	}
	.user-card {
		@include display(flex);
		@include flex-direction(row);
		background: $lighter-gray;
		border-radius: 3px;
		@include box-shadow-1();
		margin-bottom: 8px;
		padding: 12px;
		&:active {
			background: $light-gray;
		}
		.card-left, .card-right {
			@include display(flex);
			@include flex-direction(column);
		}
		.card-left {
			@include flex-shrink(0);
			@include justify-content(center);
			margin-right: 12px;
			.profile-picture {
				border-radius: 50%;
				width: 70px;
				height: 70px;
			}
		}
		.card-right {
			h2 {
				font-weight: $bold;
				font-size: $fs-body;
				margin: 0;
			}
			.wants-to {
				margin-bottom: 10px;
				//color: $text-secondary;
			}
			.details {
				@include display(flex);
				@include flex-direction(row);
				//color: $text-secondary;
				.distance {
					margin-right: 15px;
				}
				.time-available {

				}
			}
		}
	}
}

